<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>

<h1>Owners</h1>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner.id}"></th>
        <th th:text="${owner.firstName}"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>

</body>
</html>