<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This page should show the cars in de DB</title>
</head>
<body>
<h1>Car list</h1>


<table>

    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Plate</th>
        <th>Miles</th>
        <th>Problem</th>
        <th>Date received</th>
    </tr>
    <tr th:each="car : ${cars}">
        <th th:text="${car.id}"></th>
        <th th:text="${car.brand}"></th>
        <th th:text="${car.plate}"></th>
        <th th:text="${car.miles}"></th>
        <th th:text="${car.problemToFix}"></th>
        <th th:text="${car.registerDate}"></th>
    </tr>

</table>
</body>
</html>